@import '../../colors';


#header {

    .bg-navbar {
        background-color: $pink;

        .navbar-brand {
            font-size: 1.8rem;
        }
        .light-green {
            color: $green-logo;
        }
    }

    
    nav {

        a:hover {
            transition: ease-in-out .2s;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 5px;
        }

        .modal-btn {
            cursor:  pointer !important;
        }
    }

}

@media only screen and (max-width: 992px) {

    .logo-center {
        display: none;
    }

}