


#header {

    .bg-navbar {
        background-color: #f06292;

        .navbar-brand {
            font-size: 1.8rem;
        }
        .light-green {
            color: #a5d6a7;
        }

    }

}

@media only screen and (max-width: 768px) {

    .logo-center {
        display: none;
    }

}