@import '../../colors';


#header {

    .bg-navbar {
        background-color: $pink;

        .navbar-brand {
            font-size: 1.8rem;
        }
        .light-green {
            color: $green-logo;
        }

    }

}

@media only screen and (max-width: 992px) {

    .logo-center {
        display: none;
    }

}