<div id="header">
  <div class="headernav navbar-dark bg-navbar fixed-top">

    <div class="text-center">
      <a class="navbar-brand logo-center" href="#"><i class="light-green fad fa-utensils-alt"></i> simply
        Meals</a>
    </div>

    <div class="container">
      <nav class="navbar navbar-expand-lg">

        <a class="d-lg-none navbar-brand" href="#"><i class="light-green fad fa-utensils-alt"></i> simply
          Meals</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">HEM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/meals" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">MATLÅDOR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">OM OSS</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link modal-btn" data-toggle="modal" data-target="#loginModal" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">LOGGA IN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">REGISTRERA</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog" role="document">
    <app-login></app-login>
  </div>
</div>