<footer class="footer-section">

  <div class="container pt-4 pb-5">
    <div class="card-deck row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    
                  <ul class="footer-list">
                    <li><h5>Om oss</h5></li>
                    <li ><a >Dapibus</a></li>
                    <li class="mt-1"><a >Morbi</a></li>
                    <li class="mt-1"><a >Porta</a></li>
                    <li class="mt-1"><a >Vestibulum</a></li>
                  </ul>
                    
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4  mt-4">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                  <ul class="footer-list">
                    <li><h5>Kontakt</h5></li>
                    <li ><a >Dapibus</a></li>
                    <li class="mt-1"><a >Morbi</a></li>
                    <li class="mt-1"><a >Porta</a></li>
                    <li class="mt-1"><a >Vestibulum</a></li>
                  </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
            <div class="cards bg-transparent border-0">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione error pariatur fuga iusto eius neque excepturi distinctio tenetur quidem quas possimus recusandae, dolorem magni voluptas nam aut. Excepturi, sed ipsam.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<p class="text-center pb-3"><strong>simply Meals &copy;</strong> All rights reserved 2019</p>
</footer>