.mt-header {
    margin-top: 65px;
}

#meal1-section {

    background-color: #c8e6c9;

    .card {
        
        background-color: #e8f5e9;
        border-radius: 10px;
    }

}

@media only screen and (min-width: 768px) {

    .mt-header {
        margin-top: 100px;
    }

}