<app-header></app-header>

<section class="mt-header" id="meal1-section">

  <div class="container">

    <div class="card-deck pt-3 pb-5">

      <div class="col-12 col-sm-12 col-md-8 col-lg-6 mt-4">
        <div routerLink="/meal1" class="card border-0">
          <img src="../../assets/images/appetizer-close-up-container-2819562.jpg" class="card-img-top d-none d-md-block"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Låda #1</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>

            <form action="">

              <div class="form-group row">
                <div class="col-md-12 col-xl-6">
                  <select class="form-control form-control-lg">
                    <option>Välj protein</option>
                    <option>Kyckling</option>
                    <option>Köttfärsbiffar</option>
                    <option>Lax</option>
                    <option>Soyabiffar</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12 col-xl-6">
                  <select class="form-control form-control form-control-lg">
                    <option>Välj tillbehör</option>
                    <option>Ris</option>
                    <option>Potatisklyftor</option>
                    <option>Pasta</option>
                    <option>Salladsmix</option>
                  </select>
                </div>
              </div>

              <button class="btn btn-lg btn-success">Lägg till</button>
            </form>



          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<app-footer></app-footer>