#meal-section {

    background-color: #c8e6c9;

    .card {
        
        background-color: #e8f5e9;
        border-radius: 10px;
    }
    .card:hover {
        cursor: pointer;
        transition: ease-in .2s;
        transition: ease-out .1s;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    }

}