<app-header></app-header>


<section class="mt-header" id="meal-section">
  <div class="container">

    <div class="card-deck pt-5 pb-5">

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
        <div routerLink="/meal1" class="card border-0">
          <img src="../../assets/images/appetizer-close-up-container-2819562.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Låda #1</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Klicka för fler alternativ</small></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
        <div routerLink="/meal2" class="card border-0">
          <img src="../../assets/images/appetizer-close-up-container-2819562.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Låda #2</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Klicka för fler alternativ</small></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
        <div routerLink="/meal3" class="card border-0">
          <img src="../../assets/images/appetizer-close-up-container-2819562.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Låda #3</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Klicka för fler alternativ</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<app-footer></app-footer>