<app-header></app-header>


<section id="meal-section">
  <div class="container">

    <div class="card-deck pt-5">

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
        <div class="card border-0">
          <img src="../../assets/images/appetizer-close-up-container-2819562.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <button class="btn btn-small btn-success">Lägg till</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
        <div class="card">
          <img src="../../assets/images/appetizer-close-up-container-2819562.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <button class="btn btn-small btn-success">Lägg till</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
        <div class="card">
          <img src="../../assets/images/appetizer-close-up-container-2819562.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This card has even longer content than the first to show that equal height action.</p>
            <button class="btn btn-small btn-success">Lägg till</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<app-footer></app-footer>