@import '../../colors';

.mt-header {
    margin-top: 60px;
}

#meal-section {

    background-color: $green-light;

    .card {
        
        background-color: $green-lighter;
        border-radius: 10px;
    }
    .card:hover {
        cursor: pointer;
        transition: ease-in .2s;
        transition: ease-out .1s;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    }

}

@media only screen and (min-width: 768px) {

    .mt-header {
        margin-top: 100px;
    }

}