<app-header></app-header>
<div class="mt-header" id="profile-section">

    <div class="profile-header pt-2">
        <div class="container">
            <div class="user-img mt-3">
                <i class="fad fa-user-circle"></i>
            </div>

            <div class="user-tag">
                <h4>Johan Tysk</h4>
                <p class="">#1234</p>
            </div>
        </div>
    </div>

    <div class="container pt-4">

        <div class="mt-3 d-block d-md-none">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="v-pills-home" aria-selected="true">Översikt</a>
                
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#orders" role="tab" aria-controls="v-pills-messages" aria-selected="false">Order</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2 d-none d-md-block">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="v-pills-home" aria-selected="true">Översikt</a>
                    
                    <a class="nav-link mt-2" id="v-pills-messages-tab" data-toggle="pill" href="#orders" role="tab" aria-controls="v-pills-messages" aria-selected="false">Order</a>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-sm-12 col-md-9">
                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="v-pills-home-tab">

                        <div class="overview-section overview-tabs">
                            <table class="table">

                                <tbody>

                                    <tr>
                                        <th scope="row">E-postadress</th>
                                        <td><input type="text" id="email" class="overview-input" placeholder="johan@ecutbildning.se"></td>
                                        <td class="text-right d-none d-sm-block "> <label class="cog" for="email"><i class="fas fa-cog"></i></label></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Förnamn</th>
                                        <td><input type="text" id="firstname" class="overview-input" placeholder="Johan"></td>
                                        <td class="text-right d-none d-sm-block"> <label class="cog" for="firstname"><i class="fas fa-cog"></i></label></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Efternamn</th>
                                        <td><input type="text" id="lastname" class="overview-input" placeholder="Tysk"></td>
                                        <td class="text-right d-none d-sm-block"> <label class="cog" for="lastname"><i class="fas fa-cog"></i></label></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Gatuadress</th>
                                        <td><input type="text" id="addressline" class="overview-input" placeholder="Kodningsvägen 3"></td>
                                        <td class="text-right d-none d-sm-block"> <label class="cog" for="addressline"><i class="fas fa-cog"></i></label></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Postnummer</th>
                                        <td><input type="text" id="zipcode" class="overview-input" placeholder="133 70"></td>
                                        <td class="text-right d-none d-sm-block"> <label class="cog" for="zipcode"><i class="fas fa-cog"></i></label></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Stad</th>
                                        <td><input type="text" id="city" class="overview-input" placeholder="Västerås"></td>
                                        <td class="text-right d-none d-sm-block"> <label class="cog" for="city"><i class="fas fa-cog"></i></label></td>
                                    </tr>

                                    <tr>
                                        <th scope="row"><label for="password">Ändra lösenord</label></th>
                                        <td><input type="password" id="password" class="form-control" placeholder=""></td>
                                        <td class="text-right d-none d-sm-block"> <label class="cog" for="password"><i class="fas fa-cog"></i></label></td>
                                    </tr>

                                    
                                    <th>
                                        <button class=" btn-lg btn btn-success">Spara ändringar</button>
                                    </th> 
                                
          
                                </tbody>
                              </table>
                        </div>

                    </div>

                    <div class="tab-pane fade pb-4" id="orders" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        Inga order registrerade
                    </div>

                </div>
            </div>
        </div>



    </div>

</div>

<app-footer></app-footer>