

#carousel-section {

    .carousel-item {
        max-height: 700px;

        a {
            text-decoration: none;
        }

        .jumbotron {
            border-radius: 100px;
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
        }
        .jumbotron:hover {
            transition: ease-in .3s;
            transition: ease-out .2s;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }


}

@media only screen and (max-width: 768px) {

    .carousel-item {
        max-height: 400px;
    }

}