@import '../../colors';

.mt-header {
    margin-top: 65px;
}

#carousel-section {

    .carousel-item {
        

        a {
            text-decoration: none;
        }

        .jumbotron {
            border-radius: 100px;
            background: transparent;
            
            .h1-1, .p-1 {
                color: $pink;
            }
            .h1-2, .p-2 {
                color: $green;
            }
            .h1-3, .p-3 {
                
            }
        }
        .jumbotron:hover {
            transform: scale(1.02);
            transition: ease-in-out .1s;
        }
        
    }


}

@media only screen and (min-width: 768px) {

    .carousel-item {
        max-height: 800px;
    }

    .mt-header {
        margin-top: 100px;
    }

}