@import '../../colors';

.mt-header {
    margin-top: 65px;
}

#carousel-section {

    .carousel-item {
        

        a {
            text-decoration: none;
        }

        .jumbotron {
            border-radius: 100px;
            background: transparent;
            
            .h1-1, .p-1 {
                color: $pink;
            }
            .h1-2, .p-2 {
                color: $green;
            }
            .h1-3, .p-3 {
                
            }
        }
        .jumbotron:hover {
            transform: scale(1.02);
            transition: ease-in-out .1s;
        }
        
    }

    .sm-main {
        position: relative;

        .sm-main-caption {
            position: absolute;
            top: 20%;
            bottom: 30%;
            left: 25%;
            right: 25%;
            text-decoration: none;

            h1 {
                font-size: 2.5rem;
                font-weight: normal;
            }

            h1, p {
                
                // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
                color: white;

            }

        }
    

    }
    
}

@media only screen and (min-width: 992px) {

    .mt-header {
        margin-top: 100px;
    }

}

@media only screen and (min-width: 768px) {

    .carousel-item {
        max-height: 800px;
    }

}


@media only screen and (max-width: 576px) {

    .sm-main-caption{
        p {
            display: none;;
        }
    }

}

