<app-header></app-header>

<div class="bd-example mt-header">
  <div id="carousel-section" class="carousel slide" data-ride="carousel">
    <div class="d-none d-md-block">
    <ol class="carousel-indicators ">
      <li data-target="#carousel-section" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-section" data-slide-to="1"></li>
      <li data-target="#carousel-section" data-slide-to="2"></li>
    </ol>
  </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-none d-md-block">
          <img class="d-block w-100" src="../../assets/images/carrots-food-fresh-616404.jpg" alt="...">
        </div>
        <div class="carousel-caption">

          <a href="/about">
            <div class="jumbotron text-left">
              <h1 class="display-4 h1-1">Du beställer vi lagar</h1>
              <p class="lead p-1">Trött på att laga mat? Vi har lösningen på dina matlådeproblem!</p>
            </div>
          </a>

        </div>
      </div>
      <div class="carousel-item">
        <div class="d-none d-md-block">
          <img src="../../assets/images/black-bean-close-up-cooked-1640774.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-caption d-none d-sm-block">

          <a class="" href="/meals">
            <div class="jumbotron text-center">
              <h1 class="display-4 h1-2">Våra Matlådor</h1>
              <p class="lead p-2">This is a modified jumbotron that occupies the entire horizontal space of its parent.
              </p>
            </div>
          </a>

        </div>
      </div>
      <div class="carousel-item">
        <div class="d-none d-md-block">
          <img src="../../assets/images/basil-delicious-food-459469.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-caption d-none d-sm-block">

          <div class="jumbotron text-right">
            <h1 class="display-4 h1-3">Fluid jumbotron</h1>
            <p class="lead p-3">This is a modified jumbotron that occupies the entire horizontal space of its parent.
            </p>
          </div>

        </div>
      </div>

      <div class="d-block d-md-none sm-main">
          <img class="d-block w-100" src="../../assets/images/carrots-food-fresh-616404.jpg" alt="...">
        <a href="/maels" class="sm-main-caption">
          <div class=" text-center">
            <h1 class="display-4 h1-1">Du beställer vi lagar</h1>
            <p class="lead p-1">Trött på att laga mat? Vi har lösningen på dina matlådeproblem!</p>
          </div>
        </a>
      </div>

    </div>
    <!-- <a class="carousel-control-prev" href="#carousel-section" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-section" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>

<app-homecards></app-homecards>
<app-footer></app-footer>