<app-header></app-header>

<div class="mt-header" id="register-section">
  <div class="container">

    <form class="register-form">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">E-postadress</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Lösenord</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Gatuadress</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputZip">Postnummer</label>
          <input type="text" class="form-control" id="inputZip" placeholder="123 45">
        </div>
        <div class="form-group col-md-6">
          <label for="inputCity">Stad</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Land</label>
          <select id="inputState" class="form-control">
            <option selected></option>
            <option>Sverige</option>
          </select>
        </div>

      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Jag accepterar
          </label>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-success">Registrera</button>
      </div>
    </form>

  </div>
</div>

<app-footer></app-footer>